.navbar {
  height: 5rem;
  width: 100%!important;
  font-family: monospace;
  text-transform: uppercase;
}

.navbar-brand {
  height: 100%;
}

.navbar-brand {
  height: 200%;
  font-size: 1.5rem;
  line-height: 2;
}

.logo {
  height: 200%;
  font-size: 1.5rem;
  line-height: 2;
  background-color: rgb(220, 53, 69);
  height: 5rem;
  width: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
}

@media (max-width: 991.98px) {
  .navbar {
    background-color: black;
  }

  .navbar-toggler {
    color: rgba(255, 255, 255, 0.014);
  }

  .navbar-toggler-icon {
    background-color: rgba(255, 255, 255, 0);
  }

  .navbar-collapse {
    background-color: black;
    padding: 1rem;
    display: none;
    position: absolute;
    top: 4.5rem;
    left: 0;
    right: 0;
    z-index: 999;
  }

  .navbar-collapse.show {
    display: block;
  }

  .navbar-nav .nav-link {
    display: block;
    margin-bottom: 0.5rem;
  }

  .navbar-nav .nav-link:last-child {
    margin-bottom: 0;
  }

  .navbar-toggler:focus,
  .navbar-toggler:active {
    outline: none;
    box-shadow: none;
  }
}

.custom-dropdown {
  background-color: rgb(201, 97, 97);
  color: rgb(221, 28, 28);

}

.custom-dropdown .dropdown-menu {
  background-color: black; 
}

.custom-dropdown .dropdown-menu a {
  color: rgb(197, 41, 41); 
}


.custom-dropdown .dropdown-toggle {
  font-size: 20px !important;
  font-weight: bold;
  
}

/* Estilos para la versión desktop */
@media (min-width: 992px) {
  .navbar-nav .nav-item {
    margin-left: 1rem;
  }

  .navbar-nav {
    margin-left: auto;
  }

  .navbar-toggler {
    display: none;
  }
}
