
  /* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
    /* Bump up size of carousel content */
    
    .display-4 {
      font-size: 30px;
    }
    #resp-form{
      width:100%;
     }
  }
  
  @media (min-width: 62em) {
    .display-4{
      margin-top: 5rem;
    }
  
  }
  
  @media only screen and (min-device-width: 1200px) {
  
    html, body, main, .navbar{
      max-width: min-content;
  
    
    }
  
  }
  
  /* Smartphones (portrait and landscape) ----------- */
  @media only screen and (min-device-width: 320px) and (max-width : 320px) and (max-device-height: 640px) and (max-device-width : 480px) and (max-device-height: 896px){
  
      html, body, main, .navbar{
        width: fit-content 
  
      
      }
  
    html, body {padding:0;}
    
  
  
  
  
    .col-md-4 {
      margin-bottom: 1.5rem;
      text-align: center;
    }
  
  
  
  
    .row-cols-1 {
      margin-right: .75rem;
      margin-left: .75rem;
    }
  
    .display-4 {
      font-weight: 300;
      line-height: 1;
      /* rtl:remove */
      letter-spacing: -.05rem;
    }
  
  
    .card {
      margin-bottom: 0rem;
      max-width: max-content;
    }
  
   
  
  
  .display-4{
    text-align:calc(100%)!important;
  }
  
  }
    
  