
.product-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   
  }
  
  .product-card {
    width: calc(100% - 20px);
    margin-bottom: 20px;
    text-align: center;
  }
  
  .product-card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .product-card h3 {
    font-size: 3rem;
    margin-bottom:5px;
  }
  
  .product-card p {
    font-size: 2rem;
    margin-bottom: 10px;
    color: rgb(255, 255, 255);
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  
  .product-card button {
    padding: 1px 1px;
    font-size: 1rem;
    background-color: #d1310d;
    color: #fff;
    border: none;
    border-radius: 1px;
    cursor: pointer;
    transition: all 0.10s ease;
    height: 3rem;
  }
  
  .product-card button:hover {
    background-color: #fa0202;
  }
  /* Estilos para la sección de detalles del producto */
.product-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .product-details h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #fff;
  }
  
  .product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 1rem;
    margin: 1rem 0;
  }
  
  .product-card {
    background-color: #45424200;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    color: #fff;
  }
  
  .product-card img {
    width: 100%;
    height: auto;
  }
  
  .product-card__info {
    padding: 1rem;
  }
  
  .product-card__name {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0;
  }

  
 
 