.container-clases {
   display: flex;
  height: 100vh;
  padding: 10px;
  background: linear-gradient(135deg, #bfe2bf, rgb(223, 124, 124));
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: rgb(20, 19, 19);
  padding: 10px;
  
  }


  .titulo {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
  }
  

  .contenido {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
  }

 
  .subtitulo {

    color: rgb(31, 29, 29);
    padding: 5px;
  }
  