<div class=" w-auto shadow p-0 fs-6 container-clases">
    <h2 class="titulo">Mis Clases</h2>

    <div class="contenido">
        <div class="opciones">
            <label for="clase">Seleccione una clase:</label>
            <select id="clase" [(ngModel)]="claseSeleccionada">
                <option *ngFor="let clase of clases" [value]="clase.id">{{ clase.nombre }}</option>
            </select>
        </div>

        <div class="boton-container">
            <button class="boton" (click)="anotarse()">Anotarse</button>
        </div>
    </div>


    <h3 class="subtitulo">Clases Inscriptas</h3>
    <ul class="lista-clases">
        <li *ngFor="let clase of clasesInscritas">
          {{ clase.nombre }}
        </li>
      </ul>

<ng-template #noClasesInscriptas>
  <p>No tienes clases inscriptas</p>
</ng-template>