<section class="">
    <div class="container px-5">
      <div class="row gx-5 align-items-center justify-content-center">
        <div class="col-lg-8 col-xl-7 col-xxl-6">
          <div class="my-5 text-center text-xl-start">
            <h2 class="text-danger text-uppercase font-monospace">
              <strong>/ Nosotros</strong>
            </h2>
            <h3 class="fw-bolder text-dark mb-2 text-uppercase">
              Tu Gym integrado al mundo digital
            </h3>
            <p class="fw-normal text-dark-50 mb-4">
              El mundo cambió, y la forma de entrenar también. Por eso te
              ofrecemos los servicios de <em>Gym App</em>: la solución app y
              web que te permite resolver, automatizar y controlar accesos,
              turnos, planes de entrenamiento y la información clave que
              necesitas para tu día a día. Nuestros servicios estan en
              constante evolución, atendiendo a las diferentes necesidades
              de nuestros socios y atentos a las tendencias mundiales en
              entrenamientos, con el próposito de facilitar el acceso a
              actividad física de alta calidad.
            </p>
          </div>
        </div>

        <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center">
          <img
            class="img-fluid rounded-3 my-5"
            src="./assets/technogym.jpg"
            alt="..."
          />
        </div>
      </div>
    </div>
  </section>

  <section class="py-5 bg-dark">
    <a routerLink="/planes">
      <div class="d-grid gap-2 col-6 mx-auto">
        <button type="button" class="btn btn-danger" routerLink="/planes">
          Conocer los planes
        </button>
      </div>
    </a>
    <div class="container px-5 my-5">
      <div class="text-center mb-5"></div>

      <div class="row gx-5">
        <div class="col-lg-3">
          <div class="position-relative mb-5">
            <img
              class="img-fluid rounded-3 mb-3"
              src="./assets/gimnasio3.jpg"
              alt="..."
            />
            <a
              class="h4 fw-bolder text-white text-decoration-none link-danger stretched-link"
              routerLink="/planes"
              >Musculación</a
            >
          </div>
        </div>
        <div class="col-lg-3">
          <div class="position-relative mb-5">
            <img
              class="img-fluid rounded-3 mb-3"
              src="./assets/funcional2.jpg"
              alt="..."
            />
            <a
              class="h4 fw-bolder text-white text-decoration-none link-danger stretched-link"
              routerLink="/planes"
              >Funcional</a
            >
          </div>
        </div>
        <div class="col-lg-3">
          <div class="position-relative mb-5 mb-lg-0">
            <img
              class="img-fluid rounded-3 mb-3"
              src="./assets/gimnasio1.jpg"
              alt="..."
            />
            <a
              class="h4 fw-bolder text-white text-decoration-none link-danger stretched-link"
              routerLink="/planes"
              >Actividades complementarias</a
            >
          </div>
        </div>
        <div class="col-lg-3">
          <div class="position-relative">
            <img
              class="img-fluid rounded-3 mb-3"
              src="./assets/nutricion.jpg"
              alt="..."
            />
            <a
              class="h4 fw-bolder text-white text-decoration-none link-danger stretched-link"
              routerLink="/planes"
              >Asesoramiento nutricional</a
            >
          </div>
        </div>
      </div>
    </div>
    <a  routerLink="/registro">
      <div class="d-grid gap-2 col-6 mx-auto">
        <button type="button" class="btn btn-danger" >
          Inscribirme ahora
        </button>
      </div>
    </a>
  </section>

