<div class=" w-auto shadow p-0 fs-6 container-registro ">
  <div class="row w-100 justify-content-center fs-6 py-4">
    <div class="col-md-6 formulario fs-6 px-4 rounded">
      

      <form [formGroup]="registroForm" (ngSubmit)="registrarCliente()" class="custom-form">
        <div>
          <div class="tittle border-bottom border-dark"><h2>Registro de Cliente</h2></div>
          <label for="nombre">Nombre:</label>
          <input id="nombre" type="text" formControlName="nombre" placeholder="Nombre" />
        </div>
        <div>
          <label for="apellido">Apellido:</label>
          <input id="apellido" type="text" formControlName="apellido" placeholder="Apellido" />
        </div>
        <div>
          <label for="dni">DNI:</label>
          <input id="dni" type="text" formControlName="dni" placeholder="Ingresar DNI completo" />
        </div>
        <div>
          <label for="fecha_nacimiento">Fecha de nacimiento:</label>
          <input id="fecha_nacimiento" type="date" formControlName="fecha_nacimiento"
            placeholder="Ingresar la fecha de nacimiento" />
        </div>
        <div>
          <label for="email">Email:</label>
          <input id="email" type="email" formControlName="email" placeholder="Email con formato @" />
        </div>
        <div>
          <label for="contraseña">Contraseña:</label>
          <input id="contraseña" type="password" formControlName="password" placeholder="Ingrese la contraseña" />
        </div>

      <!-- Alerta de registro exitoso -->
      <div class="alert alert-success" *ngIf="registroExitoso">
        <strong>¡Éxito!</strong> Usuario registrado exitosamente.
      </div>

      <!-- Alerta de error en el registro -->
      <div class="alert alert-danger" *ngIf="registroError">
        <strong>Error:</strong> Error en el registro.
      </div>

      <div class="d-grid">
        <button type="submit" class="btn btn-outline-dark" [disabled]="registroForm.invalid">Registrar</button>
      </div>
    </form>
  </div>
</div>
</div>