<section class="intro">
  <div class="bg-image-vertical h-100" style="background-color: #1f1c1c;
    background-image: linear-gradient(180deg, #1f1c1c 0%, #000000 50%, #312c2c 100%);
    ">

    <div class="mask d-flex align-items-center h-100">

      <div class="container">

        <div class="row justify-content-center">
          <div class="col-12 col-lg-4 d-flex align-items-center mb-5 mt-5 ">
            <ul class="lista-dato d-grid">
              <li class="text-light">
                <i class="bi bi-envelope"></i>
                <h1>REGISTRO:</h1>               
              </li>
              <br>
              <li class="text-light">
                <i class="bi bi-envelope"></i>
                <h2>E-mail:</h2>
                <h3>gymapp@gymapp.com</h3>
              </li>
              <br>
              <li class="text-light">
                <i class="bi bi-phone-vibrate"></i>
                <h2>Teléfono:</h2>
                <h3>(+54) 0351 88997766</h3>
              </li>
              <br>
              <li class="text-light ">
                <i class="bi bi-geo-alt"></i>
                <h2>Ubicacion:</h2>
                <h3>Av. Vélez Sarsfield 361 Córdoba Capital</h3>
              </li>
            </ul>
          </div>
          <div class="col-12 col-lg-8 ">
            <div class="card" style="border-radius: 1rem;">
              <div class="card-body ">

                <h1 class="text-center">No dudes en ponerte en contacto con nosotros!</h1>
                <div class="container">
                  <form id="contacto-form" class="row g-3 needs-validation" action="" novalidate>

                   
                      <div class="form-box row input-row">
                        <div class="col-12 col-md-6 ">
                          <div id="" class="position-relative">
                            <label class="form-label" for="firstnameId">Nombre</label>
                            <input type="text" class="form-control" id="firstnameId" name="firstname" minlength="3"
                            maxlength="30" placeholder="Nombre" required>
                            <div class="valid-tooltip">
                              Todo bien!
                            </div>
                            <div class="invalid-tooltip">
                              Es necesario escribir su nombre.
                            </div>
                          </div>
                        </div>
                        <div class="col-12 col-md-6 ">
                          <div id="" class="position-relative">
                            <label class="form-label" for="lastnameId">Apellido</label>
                            <input type="text" class="form-control" id="lastnameId" name="lastnameId" minlength="2"
                            maxlength="30" placeholder="Apellido" required>
                            <div class="valid-tooltip">
                              Todo bien!
                            </div>
                            <div class="invalid-tooltip">
                              Es necesario escribir su apellido.
                            </div>
                          </div>
                        </div>
                     
                        </div>
                    
                

                    <div class="form-box row input-row">
                      
                    <div class="col-12 position-relative">
                      <label class="form-label" for="emailId">Email</label>
                      <input type="email" class="form-control" id="emailId" placeholder="email@email.com" required />
                      <div class="valid-tooltip">
                        Todo bien!
                      </div>
                      <div class="invalid-tooltip">
                        Es necesario escribir su email. Ejemplo: email@email.com
                      </div>

                    </div>
                  </div>
                  <div class="form-box row input-row marg">
                    <div class="form-outline mb-4 position-relative form-box row input-row">
                      <label class="form-label" for="phoneNumberId">Número de Teléfono</label>
                      <input type="number" class="form-control" id="phoneNumberId" minlength="7" maxlength="15"
                        placeholder="Ejemplo: 5423335647645" />
                      <div class="valid-tooltip">
                        Sólo números. Ejemplo: 542233983767.
                      </div>
                    </div>
                  </div>
                    <!-- Message input -->
                    <div class="form-box row input-row marg">
                    <div class="col-12 position-relative form-box row input-row">
                      <label class="form-label" for="messageInputId">Escribe aquí tu mensaje</label>
                      <textarea class="form-control" id="messageInputId" minlength="5" rows="4"
                        placeholder="Escribe aquí tu mensaje" required></textarea>
                      <div class="valid-tooltip">
                        Todo bien!
                      </div>
                      <div class="invalid-tooltip">
                        Es necesario escribir un mensaje.
                      </div>
                    </div>
                  </div>

                    <!-- Submit button -->


                    <button id="submit" type="submit" class="btn btn-primary">Enviar</button>

                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
