

.card-body{
  width: 300px;
  height: 250px;
  margin-top: -28px;
  color: aliceblue;
}
.card-header{
  color: aliceblue;
}
.cards-wrapper {
display: grid;
justify-content: center;
align-items: center;
grid-template-columns: 1fr 1fr 1fr;
grid-gap: 1 px;
padding: 1px;
margin: 0 auto;
width: max-content;
 border: #230606;
  height: 590px;

  
}

.card {
font-family: monospace;
--bg-filter-opacity: 0.5;
 height: 390px;
width: 1000px;
font-size: 1.5em;
color: rgb(255, 255, 255);
border-radius: 1em;
padding: 1em;
padding-bottom:1px;
margin-bottom: 6px;
/*margin: 2em;*/
display: flex;
align-items: normal;
background: linear-gradient(90deg, rgb(186, 4, 4) 0%, rgb(123, 2, 2) 100%);
margin-top: -22px;

box-shadow: 0 0 5em -1em black;
transition: all, var(--transition-time);
position: relative;


text-decoration: none;
margin-left: 8rem;
}
.bg-light{
  margin-left: 0rem; 
  height: 383px;
  width: 950px;
  font-size: 15px;
  color: red;
  border: #23060600;
  
}
.card:hover {
transform: rotate(0);
}

.card h1 {
margin: 0;
font-size: 1em;
line-height: 1em;
font-family: monospace;
}

.card p {
font-size: 0.75em;
font-family: 'Open Sans';
margin-top: 0.5em;
line-height: 2em;
font-family: monospace;
}






.card:before {
background: #230606;
width: 250%;
height: 250%;
}

.card:after {
background: rgba(238, 42, 32, 0.677);
width: 200%;
height: 200%;
}

.card:hover {
color: var(--color);
}

.card:hover:before, .card:hover:after {
transform: scale(1);
}

.card-grid-space .num {
font-size: 0.2em;
margin-bottom: 0.1rem;
margin-left: 0.1rem;

}

.title{
padding-top: 5px;

color: rgba(176, 175, 175, 0.921);

align-items: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.btn-grp{
  position: relative;
  margin-top: -392px ;
  margin-left: 700px;
}




.main{
  margin-top: -50px;
  background: #730101f3;
 height: 512px;
}
.btn-danger{
  background-color: red;
}