<div class="main">
<div class="title"><h2 class="text-center my-5">Detalles del Plan</h2></div>
<div class="card">
  <div class="card bg-light">
    <div class="card-header">Plan</div>
    <div class="card-body">
      <p class="mb-1"><strong>Nombre:</strong> {{ plan.nombre }}</p>
      <p class="mb-1"><strong>Descripción:</strong> {{ plan.descripcion }}</p>
      <p class="mb-1"><strong>Cantidad de clases:</strong> {{ plan.cantidad_clases }}</p>
      <p class="mb-0"><strong>Precio:</strong> {{plan.precio }}</p>
    </div>
  </div>
  <button class="btn btn-danger" (click)="showModal()">Eliminar Plan</button>
  <button class="btn btn-secondary" (click)="regresar()">Regresar</button>

</div>
</div>