.mat-mdc-tab-body-content {
  overflow: hidden !important;
}

@media (min-width: 1200px) {
button{
    /* width: 100%; */
    height: 100%;
    background-color: #333;
    color: white;
    border: none;
}

  h1 {
    color: #fff;
    padding: 10px;
  }
  
 
  #heading {
    background-color: #f5270c;
    text-align: center;
  }
  
  .item {
    min-height: 70px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #F1F1F1;
  }
  
  .item:last-child {
    border-bottom: 0;
  }
  
  
  input[type="checkbox"] {
    margin: 20px;
  }
  
  /* p {
    margin: 0;
    padding: 20px;
    font-size: 20px;
    font-weight: 200;
    color: #f5f7f9;
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  } */
  
  form {
    text-align: center;
    margin-left: 20px;
  }
  

 .ng-valid:not(form).ng-touched{
  border-left: 5px solid forestgreen; /*green*/
   }
 

  .ng-invalid:not(form).ng-touched {
    border-left: 5px solid red; /*red*/
  }
  
  /* input[type="text"] {
    text-align: center;
    height: 60px;
    top: 10px;
    border: none;
    background: transparent;
    font-size: 20px;
    font-weight: 200;
    width: 40%;
  } */
  

}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
