<form [formGroup]="planForm" (ngSubmit)="crearPlan()" class="bg-light p-5">
  <div class="form-group">
    <label for="nombre">Nombre:</label>
    <input type="text" class="form-control" formControlName="nombre" id="nombre" required>
  </div>
  <div class="form-group">
    <label for="descripcion">Descripción:</label>
    <input type="text" class="form-control" formControlName="descripcion" id="descripcion">
  </div>
  <div class="form-group">
    <label for="cantidad_clases">Cantidad de clases:</label>
    <input type="number" class="form-control" formControlName="cantidad_clases" id="cantidad_clases" required>
  </div>
  <div class="form-group">
    <label for="precio">Precio:</label>
    <input type="number" class="form-control" formControlName="precio" id="precio" required>
  </div>
  <button type="submit" class="btn btn-primary m-5">Crear Plan</button>
</form>

