<div class="container">
  <h2>Dashboard ADMIN</h2>

  <!-- Mostrar datos de la API -->
  <div *ngIf="planes">
    <h3>Lista de planes:</h3>
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th>Nombre del Plan</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let plan of planes; let i = index">
          <td>{{ plan.nombre }}</td>
          <td>
            <button class="btn btn-secondary" (click)="verPlan(plan)">Ver Plan</button>
          </td>
        </tr>
      </tbody>
    </table>
    <a routerLink="/crear-plan" class="btn btn-danger">Agregar Plan</a>
  </div>

  <div *ngIf="clases">
    <h3>Lista de clases:</h3>
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th>Nombre de la Clase</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let clase of clases; let i = index">
          <td>{{ clase.nombre }}</td>
          <td>
            <button class="btn btn-secondary" (click)="verClase(clase)">Ver Clase</button>
          </td>
        </tr>
      </tbody>
    </table>
    <a routerLink="/crear-clase" class="btn btn-danger">Agregar Clase</a>
  </div>

  <div *ngIf="clientes">
    <h3>Lista de clientes:</h3>
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th>Nombre del Cliente</th>
          <th>Plan</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cliente of clientes; let i = index">
          <td>{{ cliente.nombre + ' ' + cliente.apellido }}</td>
          <td>{{ cliente.plan ? cliente.plan.nombre : 'Sin plan' }}</td>
          <td>
            <button class="btn btn-secondary" (click)="verCliente(cliente)">Ver Cliente</button>
          </td>
        </tr>
      </tbody>
    </table>
    <a routerLink="/crear-cliente" class="btn btn-danger">Agregar Cliente</a>
  </div>
</div>