/* @media (min-width: 1200px) {

.navbar-responsive{
    position: absolute;
    width: fit-content 
  }
.navbar-responsive{
    font-size: 1vh;
    max-width: min-content;
  }
  .navbar{
    width: fit-content ;
    justify-content:fit-content;
  }
} */

.logo {
  width: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
}

a {
  text-decoration: none;
}