.container-perfil {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-image: url("/../../../../assets/fitness-perfil.jpg");
  background-size: cover; /* Ajusta la imagen al tamaño del contenedor */
  background-position: center; /* Centra la imagen dentro del contenedor */
  /* Otros estilos de tu contenedor */
}


.editar-perfil-container {

  max-width: 400px;
  width: 100%;
  background: rgb(226, 126, 126);
  padding: 20px 20px ;
  border-radius: 1rem;
  font-size: 16px; 
 
}

.editar-perfil-container .id{
  font-size: 25px;
  color:black;
  text-align: center;
}



.editar-perfil-container .user{
  font-size: 25px;
  color:black
}


.editar-perfil-container .tittle {
   font-size: 30px;
  font-weight: 500;
  font-weight:bold;
 text-align: center;
  
}

.editar-perfil-container .tittle::before {
  
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  background: linear-gradient(135deg, #bfe2bf, rgb(223, 124, 124));
  justify-content: left;
}

form .user-details{
  display:inline;
  flex-wrap: wrap;
  justify-content: space-between;
}

form label{
	width: 100px;
	font-weight:bold;
	display:inline-block;
}

.user-details .input-box{
  margin: 20px 0 12px 0;
width: calc(100%/2 -20px);
}

.user-details .input-box input {
  height: 35px;
  width: 100%; /* Amplía el ancho al 100% */
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 12px;
}


.editar-perfil-container .button {
  width: 110px;
  top: 90px;
  left: 120px;
  cursor: pointer;
}

.menu-izquierdo {
  background-color: #f1f1f1;
  padding: 10px;
}

.menu-izquierdo ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu-izquierdo li {
  cursor: pointer;
  padding: 5px;
}

.menu-izquierdo li:hover {
  background-color: #eaeaea;
}

.contenido-central {
  padding: 10px;
}
