
<!-- carousel -->
<div
id="carouselExampleControlsNoTouching"
class="carousel slide carousel-fade"
data-bs-touch="false"
data-bs-ride="carousel"
>
<div class="carousel-inner">
  <div class="carousel-item active" data-bs-interval="5000">
    <img src="./assets/bg-3.jpg" class="d-block w-100" alt="..." />
    <div class="carousel-caption d-none d-md-block text-start">
      <h2>
        <a href="#" class="text-white text-decoration-none"
          >RESERVA TU TURNO</a
        >
      </h2>
      <p>
        Reserva tu turno desde Gym App. Registrate o inicia sesión y
        <a
          href="#"
          class="text-white text-decoration-none link-secondary"
          >¡Reserva ya!</a
        >
      </p>
    </div>
  </div>
  <div class="carousel-item" data-bs-interval="5000">
    <img src="./assets/bg-2.jpg" class="d-block w-100" alt="..." />
    <div class="carousel-caption d-none d-md-block text-start">
      <h2>TOMA EL CONTROL</h2>
      <p>
        Lleva el registro de tus entrenamientos y los turnos que
        solicites.
      </p>
    </div>
  </div>
  <div class="carousel-item" data-bs-interval="5000">
    <img src="./assets/bg-1.jpg" class="d-block w-100" alt="..." />
    <div class="carousel-caption d-none d-md-block text-end">
      <h2>ELIGE UN PLAN</h2>
      <p>
        Elige el plan que mejor se adapte a vos y aprovecha todos los
        beneficios.
      </p>
    </div>
  </div>
</div>
<button
  class="carousel-control-prev"
  type="button"
  data-bs-target="#carouselExampleControlsNoTouching"
  data-bs-slide="prev"
>
  <div class="border p-3">
    <span
      class="carousel-control-prev-icon"
      aria-hidden="true"
    ></span>
    <span class="visually-hidden">Previous</span>
  </div>
</button>
<button
  class="carousel-control-next"
  type="button"
  data-bs-target="#carouselExampleControlsNoTouching"
  data-bs-slide="next"
>
  <div class="border p-3">
    <span
      class="carousel-control-next-icon"
      aria-hidden="true"
    ></span>
    <span class="visually-hidden">Next</span>
  </div>
</button>
</div>

<!-- Seccion 1 -->
<section class="bg-light py-5">
<div class="container px-5">
<div class="row gx-5 align-items-center justify-content-center">
  <div class="col-lg-8 col-xl-7 col-xxl-6">
    <div class="my-5 text-center text-xl-start">
      <h3 class="text-danger text-uppercase font-monospace">
        / dentro y fuera del gimnasio
      </h3>
      <h1 class="fw-bolder text-dark mb-2 text-uppercase">
        Vivi una experiencia de entrenamiento completa
      </h1>
      <p class="fw-normal text-dark-50 mb-4">
        Entrena con nosotros eligiendo un plan. Todos incluyen las
        áreas de cardio, peso integrado, peso libre, funcional,
        profesores de piso para evaluaciones y creación de rutinas,
        vestuarios y más.
      </p>
      <div
        class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start"
      >
        <a
          class="btn btn-outline-danger btn-lg px-4 me-sm-3 text-uppercase border border-2 border-danger rounded-0"
          routerLink="/registro">
          Inscríbete</a
        >
        <a
          class="btn btn-outline-danger btn-lg px-4 text-uppercase border border-2 border-danger rounded-0"
          routerLink="/planes"
          >Ver planes</a
        >
      </div>
    </div>
  </div>
  <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center">
    <img
      class="img-fluid rounded-3 my-5"
      src="./assets/index-1.jpg"
      alt="..."
    />
  </div>
</div>
</div>
</section>
<!-- Seccion 2 -->
<section class="py-5 bg-dark">
<div class="container">
<div class="text-center mb-5">
  <h3 class="text-danger text-uppercase font-monospace">
    / Nuestras clases
  </h3>
  <h2 class="fw-bolder text-white mb-2 text-uppercase">
    Conoce nuestras clases y <br />
    reserva tu lugar
  </h2>
</div>
<div class="row mb-5 pb-5">
  <div class="col-lg-3">
    <div class="card text-bg-dark">
      <img src="./assets/index-3.jpg" class="card-img" alt="..." />
      <div class="card-img-overlay">
        <a
          class="h5 fw-bolder text-white text-decoration-none link-danger stretched-link text-uppercase"
          href="./clases.html"
          >Funcional</a
        >
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="card text-bg-dark">
      <img class="card-img" src="./assets/index-6.jpg" alt="..." />
      <div class="card-img-overlay">
        <a
          class="h5 fw-bolder text-white text-decoration-none link-danger stretched-link text-uppercase"
          href="./clases.html"
          >Aero Local</a
        >
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="card text-bg-dark">
      <img class="card-img" src="./assets/index-4.jpg" alt="..." />
      <div class="card-img-overlay">
        <a
          class="h5 fw-bolder text-white text-decoration-none link-danger stretched-link text-uppercase"
          href="./clases.html"
          >Aero Combat</a
        >
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="card text-bg-dark">
      <img class="card-img" src="./assets/index-5.jpg" alt="..." />
      <div class="card-img-overlay">
        <a
          class="h5 fw-bolder text-white text-decoration-none link-danger stretched-link text-uppercase"
          href="./clases.html"
          >Abdominales</a
        >
      </div>
    </div>
  </div>
</div>
</div>
</section>
<section class="py-5 bg-danger container banner-danger">
<div class="px-5 my-5">
<h2 class="text-uppercase text-white fw-bolder mb-4">
  Escribinos y comienza hoy mismo
</h2>
<a href="./contacto.html">
  <button
    type="button"
    class="btn btn-outline-light link-danger text-white btn-lg px-4 text-uppercase border border-2 rounded-0"
  >
    Contacto
  </button>
</a>
</div>
</section>
<!-- Seccion 3 -->
<section class="bg-light">
<div class="container px-5">
<div class="row gx-5 align-items-center justify-content-center">
  <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center">
    <img
      class="img-fluid rounded-3 my-5"
      src="./assets/index-6.jpg"
      alt="..."
    />
  </div>
  <div class="col-lg-8 col-xl-7 col-xxl-6">
    <div class="my-5 pb-5 text-center text-xl-start">
      <h3 class="text-danger text-uppercase font-monospace">
        / TOMA EL CONTROL
      </h3>
      <h1 class="fw-bolder text-dark mb-2 text-uppercase">
        Reserva tu lugar y lleva el control de tus rutinas
      </h1>
      <p class="fw-normal text-dark-50 mb-4">
        Con cualquiera de tus planes podras reservar el turno a la
        clase que quieras. Ademas vas a poder llevar el registro de
        tus entrenamientos, en tu perfil podrás ver el historial de
        todas las clases a las que hayas asistido.
      </p>
      <div
        class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start"
      >
        <a
          class="btn btn-outline-danger btn-lg px-4 me-sm-3 text-uppercase border border-2 border-danger rounded-0"
          href="./login.html"
          >Sacar turno</a
        >
        <a
          class="btn btn-outline-danger btn-lg px-4 text-uppercase border border-2 border-danger rounded-0"
          href="./planes.html"
          >Ver perfil</a
        >
      </div>
    </div>
  </div>
</div>
</div>
</section>


