
   <main>
   <header>
    <div id="planes-banner" class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal">Planes</h1>
      <p class="fs-5 text-light font-monospace">Obtenga un físico ideal subscribiendose fácilmente a nuestros planes a medida!</p>
    </div>
  </header>
<div>
   <!-- Main -->
  <main>
    <div class="container">    
      <div class="row row-cols-1 row-cols-md-3 mb-3 text-center pt-md-3 p-3 ">
        <div class="col">
          <div id="card-pro" class="card rounded-3 shadow-sm opacity-75 w-100 h-100">
            <div class="card-header py-3">
              <h4 class="my-0 fw-normal fs-5">Pro</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title fs-5">$4000<small class="text-light fw-light">/mes</small></h1>
              <ul class="list-unstyled mt-3 mb-4 ">
                <li><i class="bi-check " width="10" height="10"></i>Musculación libre</li>
                <li><i class="bi-check " width="10" height="10"></i>Lockers libres</li>
              </ul>
              <a href="./tienda">
              <div class="card-footer mb-0 pb-0">
                <button type="button" class=" mx-autow-100 btn btn-lg btn-outline-danger">Subscribase</button>
              </div>
            </a>
                </div>
          </div>
        </div>
        <div class="col">
          <div id="card-premium" class="card rounded-3 shadow-sm opacity-75 w-100 h-100">
            <div class="card-header py-3">
              <h4 class="my-0 fw-normal fs-5">Premium</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title fs-5">$6000<small class="text-light fw-light">/mes</small></h1>
              <ul class="list-unstyled mt-3 mb-4 ">
              
                <li><i class="bi-check " width="10" height="10"></i>Musculación libre</li>
                <li><i class="bi-check " width="10" height="10"></i>8 clases de actividades complementarias</li>
                <li><i class="bi-check " width="10" height="10"></i>Plan nutricional y clases nutrición</li>
                <li><i class="bi-check " width="10" height="10"></i>Lockers libres</li>
                <li><i class="bi-check " width="10" height="10"></i>50% off en tienda fitness</li>
                
              </ul>
              <a href="./tienda">
              <div class="card-footer mb-0 pb-0">
                <button type="button" class="mx-auto w-100 btn btn-lg btn-danger">Comience, HOY!</button>
              </div>
            </a>
            </div>
          </div>
        </div>
        <div class="col">
          <div id="card-platinum" class="card rounded-3 shadow-m border-danger opacity-75 w-100 h-100">
            <div class="card-header py-3 text-bg-danger border-danger">
              <h4 class="my-0 fw-normal platinum fs-5">Platinum</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title fs-5">$7000<small class="text-light fw-light">/mes</small></h1>
              <h1 class="card-title pricing-card-title fs-5">o $54000<small class="text-light fw-light">/anual</small></h1>
              <ul class="list-unstyled mt-3 mb-4 ">
                <li><i class="bi-check " width="10" height="10"></i>Musculación libre</li>
                <li><i class="bi-check " width="10" height="10"></i>Clases de Actividades complementarias libres</li>
                <li><i class="bi-check " width="10" height="10"></i>Plan nutricional y clases nutrición</li>
                <li><i class="bi-check " width="10" height="10"></i>Lockers libres</li>
                <li><i class="bi-check " width="10" height="10"></i>50% off en tienda fitness</li>
                <li><i class="bi-check " width="10" height="10"></i>Acceso a spa y rehabilitación</li>
              
              </ul>
            <a href="./tienda">
              <div class="card-footer mb-0 pb-0">
                <button type="button" class="mx-auto w-100 btn btn-lg btn-danger">Saber más...</button>
              </div>
            </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <h2 class="display-6 text-center text-white mb-4">Elija su plan FIT</h2>

    <div class="table-responsive">
      <table class="table text-center text-white">
        <thead>
          <tr>
            <th style="width: 34%;"></th>
            <th style="width: 22%;">Pro</th>
            <th style="width: 22%;">Premium</th>
            <th style="width: 22%;">Platinum</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row" class="text-start ">Musculación libre</th>
            <td><i class="bi bi-check " width="24" height="24"></i></td>
            <td><i class="bi bi-check " width="24" height="24"></i></td>
            <td><i class="bi bi-check " width="24" height="24"></i></td>
          </tr>
          <tr>
            <th scope="row" class="text-start">Actividades complementarias</th>
            <td></td>
            <td><i class="bi bi-check " width="24" height="24"></i></td>
            <td><i class="bi bi-check " width="24" height="24"></i></td>
          </tr>
        </tbody>

        <tbody>
          <tr>
            <th scope="row" class="text-start">Plan nutricional y clases de nutrición</th>
            <td><i class="bi bi-check " width="24" height="24"></i></td>
            <td><i class="bi bi-check " width="24" height="24"></i></td>
            <td><i class="bi bi-check d" width="24" height="24"></i></td>
          </tr>
          <tr>
            <th scope="row" class="text-start">Lockers libres</th>
            <td></td>
            <td><i class="bi bi-check " width="24" height="24"></i></td>
            <td><i class="bi bi-check " width="24" height="24"></i></td>
          </tr>
          <tr>
            <th scope="row" class="text-start">50% off en tienda fitness</th>
            <td></td>
            <td><i class="bi bi-check " width="24" height="24"></i></td>
            <td><i class="bi bi-check " width="24" height="24"></i></td>
          </tr>
          <tr>
            <th scope="row" class="text-start">Acceso a spa y rehabilitación</th>
            <td></td>
            <td></td>
            <td><i class="bi bi-check " width="24" height="24"></i></td>
          </tr>
        </tbody>
      </table>
    </div>
  </main>
  </div>
   </main>
   