p {
    margin: -20px;
    padding: 20px;
    font-size: 15px;
    font-weight: 200;
    color: #252728;
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  }
 h1 {
    color: #f5270c;
    text-align: center;
  }
  header{
    background-color: #252728;
  }
  table{
   
    margin-bottom:  -0.2px;
  }
 
  #card-pro{
    background-image: url(../../../assets/pro.jpg); background-size:cover; background-position: inherit;
  }
  #card-premium{
    background-image: url(../../../assets/premium.jpg); background-size:cover; background-position: inherit;
  }
  #card-platinum{
    background-image: url(../../../assets/platinum.jpg); background-size:cover; background-position: inherit;
  }
  main{
    background-image: url(../../../assets/planes-bg2.png); background-size:cover; background-position: inherit;
  }