<div class="cart" [class.open]="isCartOpen" (mouseleave)="hideCart()">
  <h3>Carrito de Compras</h3>
  <table class="table table-danger table-striped">
    <thead>
      <tr>
        <th>Producto</th>
        <th>Cantidad</th>
        <th>Precio Unitario</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <ng-container class="ngcont" *ngFor="let product of items">
        <tr class="tr">
          <td><div class="cart-item-image">
            <img [src]="product.image" alt="{{ product.name }}" />
          </div>
             {{ product.name }}</td>
          <td>{{ product.quantity }}</td>
          <td>{{ product.price | currency:'ARS' }}</td>
            <td> <button class="btn-remove" (click)="removeCartItem(product)"><i class="fas fa-trash text-danger"></i></button>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>


        <!--
        <div class="cart-item-color">
          <label>Color:</label>
          <select [(ngModel)]="item.color" (ngModelChange)="updateCartItem(item)">
            <option *ngFor="let color of item.product?.colors" [value]="color">{{ color }}</option>
          </select>
        </div>
        <div class="cart-item-size">
          <label>Tamaño:</label>
          <select [(ngModel)]="item.size" (ngModelChange)="updateCartItem(item)">
            <option *ngFor="let size of item.product?.sizes" [value]="size">{{ size }}</option>
          </select>
        </div>
        -->
       
      
  


  <div class="cart-summary">
    <p class="cart-total">Total: {{ calculateTotal() | currency }}</p>
    <button class="btn-buy" (click)="placeOrder()">Comprar</button>
  </div>
</div>
