<div class="cart" [class.open]="isCartOpen">
  <div class="container">
    <div class="row">
      <div class="col-md-3 order-md-2 mb-4">
        <h4 class="d-flex justify-content-between align-items-center mb-6">
          <span class="text-muted align-content-lg-center">Tu carrito</span>
          <i class="fa-solid fa-cart-shopping"></i>
        </h4>

        <table class="table">
          <thead>
            <tr class="firstTr">
              <th>Producto</th>
              <th>Cantidad</th>
              <th>Precio Unitario</th>
              <th>Borrar</th>
            </tr>
          </thead>
          <tbody>
            <ng-container class="ngcont" *ngFor="let plan of items">
              <tr class="tr">
                <td>
                  <div class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                      <h6 class="my-0">{{ plan.nombre }}</h6>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                      <small class="text-muted">Clases: {{ plan.cantidad_clases }}</small>
                    </div>
                  </div>
                </td>
                <td>
                  <span class="text-muted">{{ plan.precio | currency }}</span>
                </td>
                <td>
                  <button class="btn-remove" (click)="removeItem(plan)">
                    <i class="fas fa-trash text-danger"></i>
                  </button>
                </td>
              </tr>
            </ng-container>

            <tr class="tr cupon list-group-item d-flex">
              <td>
                <div class="text-success w-100">
                  <h6 class="my-0">Cupón</h6>
                </div>
              </td>
              <td>
                <small>(Para compras mayores a $5000)</small>
              </td>
              <td>
                <span class="text-success w-100">-$1500</span>
              </td>
              <td><i class="fa-solid fa-receipt"></i></td>
              <td class="w-100">Total(ARS)</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>{{ calculateTotal() | currency }}</td>
              <td></td>
            </tr>
          </tbody>
        </table>
        <div class="cart-summary">
          <button class="btn-buy" (click)="openCheckout()">Comprar</button>
        </div>
      </div>

      <div class="col-xxl-9 order-md-1">
        <div class="checkout-sidebar" *ngIf="isCheckoutOpen">
          <!-- Componente de checkout -->
          <app-checkout></app-checkout>
        </div>
      </div>
    </div>
  </div>
</div>
