<div class="checkout">
  <h1>Detalle de pago</h1>
  <p>{{ confirmationMessage }}</p>
  <form >
  

    
  
  
    
    <div class="payment-container">
     
    
        <div class="input-container">
          <label for="">Card number</label>
          <input
            nz-input
            type="text"
            name="cardNumber"
           
            placeholder="1234 1234 1234 1234"
          />
        </div>
        <div class="input-container">
          <label for="">Name on card</label>
          <input
            nz-input
            type="text"
            name="cardName"
          
            placeholder="John Doe"
          />
        </div>
        <div class="‼️">
          <div class="input-container">
            <label for="">Expiry date</label>
            <input
              nz-input
              type="text"
              name="cardExpiry"
             
              placeholder="06/30"
            />
          </div>
          <div class="input-container">
            <label for="">Security code</label>
            <input
              nz-input
              type="text"
              name="cvv"
             
             
              placeholder="123"
            />
          </div>
        </div>
    
      
    </div>
  
  

    <div class="summary-container">
      <div class="summary-container__order">
        
        <div class="details">
          <div><span>Item(s)</span> </div>
          <div><span>Metodo de pago</span> Crédito</div>
          
        </div>
        
      </div>
      <div class="summary-container__items">
        <h2>Listado de productos</h2>
        <div class="item-list">
          <div class="item-container" *ngFor="let product of items">
            <div class="item-image">
              <img [src]="product.image" alt="" />
            </div>
            <div class="item-title">
              {{ product.name}}
            </div>
            <div class="item-total">
              {{ product.price  }} x {{ product.quantity }} =
              {{ product.quantity * product.price  }}
            </div>
          </div>
        </div>
      </div>
    </div>
 
 
   
    <div class="products-container">
      
        <div class="products-container__list">
          <div class="list-item" *ngFor="let product of items">
            <div class="item-image">
              <img [src]="product.image" alt="" />
            </div>
            <div class="item-title">
              {{ product.name }}
            </div>
            <div class="item-total">
              {{ product.price  }} x {{ product.quantity }} =
              {{ product.quantity * product.price  }}
            </div>
          </div>
        </div>
      </div>
   
    
  <div class="checkout-summary">
    <h3>Resumen del pedido</h3>
    <ul>
      <li *ngFor="let product of cartItems">
        {{ product.name }} x {{ product.quantity }} - {{ product.price  }}
      </li>
    </ul>
    <p class="cart-total">Total: {{ calculateTotal() }}</p>
  </div>

  <button type="submit" (click)="placeOrder()">Realizar pedido</button>
</form>
</div>
