<div class="main"><div class="title"><h2 class="text-center my-5">Detalles del Cliente</h2>
</div>
<div class="card">
  <div class="card-body">
    <div class="mb-4">
      <p class="mb-1"><strong>Nombre:</strong> {{ cliente.nombre }}</p>
      <p class="mb-1"><strong>Apellido:</strong> {{ cliente.apellido }}</p>
      <p class="mb-1"><strong>DNI:</strong> {{ cliente.dni }}</p>
      <p class="mb-1"><strong>Email:</strong> {{ cliente.email }}</p>
      <p class="mb-0"><strong>Fecha de nacimiento:</strong> {{ cliente.fecha_nacimiento }}</p>
    </div>

    <div class="card-plan bg-light mb-3">
      <div class="card-header">Plan</div>
      <div class="card-body">
        <p class="mb-1"><strong>Nombre:</strong> {{ cliente.plan ? cliente.plan.nombre : 'Cliente sin plan' }}</p>
        <p class="mb-1"><strong>Descripción:</strong> {{ cliente.plan ? cliente.plan.descripcion : '' }}</p>
        <p class="mb-1"><strong>Cantidad de clases:</strong> {{ cliente.plan ? cliente.plan.cantidad_clases : '' }}</p>
        <p class="mb-0"><strong>Precio:</strong> {{ cliente.plan ? cliente.plan.precio : '' }}</p>
      </div>
    </div>
    <button class="btn btn-secondary" (click)="regresar()">Regresar</button>
  </div>
</div>
</div>