
body {
    
    background: url(../assets/login.jpg) no-repeat center center fixed;
    background-size: cover;    
}

.container{
    @media (min-width: 768px) {
        .first-section img {
          margin-bottom: 20px;
        }
       
      }
      
      @media (min-width: 992px) {
        .first-section img {
          margin-bottom: 0;
        }
      }
}

.Formulario{
    
    background: rgba(190, 19, 53, 0.18);
    box-shadow: 7px 13px 37px rgb(0, -0, -0, 568);
    padding: 0;
    border-radius: 10px;
    border-top: 4px solid rgba(30, 25, 25, 0.578);
    color: white;
    margin:0 auto;
    margin-top: 0%;
}

.gym{
    margin: o; 
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 2px solid;
    font-size: 25px;
}

.form-control{
    padding: 11px 10px; 
    background: rgba(26, 22, 22, 0.922);
    border-style: none;
    transition: 0.5s ease-in;
    color: white;
}
.iniciar{
    width: 100%;
    height: 35px;
    background: #342e2e;
    border: none;
    font-size: 14px;font-weight: 600;
    color: white;
    margin-bottom: 16px; 
    outline: none;
    cursor: pointer;
    transition:all 300ms;
}

.form-check{
    height: 40px;
}
.iniciar:hover{
    background: #fff;
    color: #342e2e;
}

.olvidaste a{
    height: 40px;
    text-align: center;
    text-decoration: underline;
}
    
.reg a{
    color: white;
    text-decoration: none
}

.reg a:hover{
    text-decoration: underline
}