<div class="w-auto shadow p-0 fs-6 container-login">
  <div class="row w-100 justify-content-center fs-6 py-4">
    <div class="col-md-6 formulario fs-6 px-4 rounded">
      <!-- Form Login -->
      <form [formGroup]="loginAdmin" (ngSubmit)="logindata()" class="form-box">
        <div class="form-group text-center pt-0">
          <h3>Login ADMIN</h3>
        </div>
        <div class="col-12 position-relative mb-4">
          <div class="col-auto">
            <label for="username" class="form-label">Email</label>
          </div>
          <input type="text" formControlName="fname" class="form-control bg-light" id="username"
            placeholder="Enter Email" required />
        </div>
        <div class="mb-4">
          <div class="col-auto">
            <label for="password" class="form-label">Password</label>
          </div>
          <input type="password" formControlName="password" class="form-control bg-light" id="password"
            placeholder="Enter Password" required />
        </div>
        <div class="d-grid">
          <button type="submit" class="btn btn-outline-dark">Iniciar Sesión</button>
        </div>
        <!-- <div class="my-2 mx-1 pb-4 text-light reg">
          <span>¿No tienes una cuenta? <a routerLink="./registro.html" class="b">Regístrate</a></span><br>
        </div> -->
      </form>
    </div>
  </div>
</div>