


.i{  
  font-size:15px;
  transition:1s;
  cursor:pointer;
  color:#aeaeae;
  text-align: center;
}
.i:hover{
  transform: scale(1.25) rotate(100deg); 
  color:#d42418;
  
}


#placeholder{
  background-image: url("/Frontend/ProyectoFinal_GymApp/src/assets/planes-bg.jpg");
}
.product-card::before, .product-card::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: scale3d(0, 0, 1);
  transition: transform .3s ease-out 0s;
  background: rgba(255, 255, 255, 0.1);
  content: '';
  pointer-events: none;
}
.product-card::before {
  transform-origin: left top;
}
.product-card::after {
  transform-origin: right bottom;
}


.planes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   
  }
  
  .plan-tienda-card{
    
    transition:0.5s;
    cursor:pointer;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 50%, rgba(255, 255, 0, 0));
    color: #FFF;
    padding: 0px 0px 0px 0px;
    height:500px;
    width: calc(80% - 1px);
    margin-bottom: 0px;
    text-align: center;
    font-size: 14px;
    color: #666666;
    font-family: "Open Sans";
  }
  
  .product-card img {
    max-width: 100%;
    height: auto;
   margin-top: 0;
  }
  
  .product-card h3 {
    font-size: 3rem;
    text-align: center;
  }
  
  .product-card p {
    font-size: 1rem;
   text-align: center;
    color: rgb(255, 255, 255);
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
  }
  .product-detail-add-to-cart{
    width: 18rem;
    outline: 0;
    border: 0;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 0;
    
  }
  .product-card button {
    
    font-size: 1rem;
    background-color: #d1310d;
    color: #fff;
    border: none;
    border-radius: 1px;
    cursor: pointer;
    transition: all 0.10s ease;
    height: 2.5rem;
   
    
  }
  
  .product-card button:hover {
    background-color: #fa0202;
    transform: scale3d(1, 1, 1);
  }
  /* Estilos para la sección de detalles del producto */
.product-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
  }
  
  .product-details h2 {
    font-size: 8px;
    font-weight: bold;
    margin-bottom: 0px;
    color: #fff;
  }
  
  .planes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 1rem;
    margin: 0 0;
  }
  
  .product-card {
    background-color: #0606065f;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    color: #fff;
    position: relative;
    margin: 0;
    padding-bottom: 2.5rem;
  }
  
  .product-card  img {
    height:100px;
    width:100%;
    overflow-clip-margin: content-box;
    overflow: clip;
  }
  
  .product-card__info {
    padding: 0rem;
  }
  
  .product-card__name {
    font-size:9px;
    transition:1s;
    cursor:pointer;
    font-weight: bold;
    margin: 0;
  }
.product-card:hover{
  transform: scale(1.05);
  box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
}
.description{
  padding-bottom: 19%;
  height:0px;  
  font-family:
  /* 1 / -apple-system, BlinkMacSystemFont,
  / 2 / “Segoe UI”, “Roboto”, “Oxygen”, “Ubuntu”, “Cantarell”, “Fira Sans”, “Droid Sans”,
  / 3 */ “Helvetica Neue”, sans-serif;
}
.price{
  font-weight: 800;

}
.planes {
  grid-template-columns: 350px 350px 350px;
  grid-template-rows: 500px;
  display:grid;
}
.grid{
  display: grid;
}