<section id="clases">
    <div class="contenedor w-auto ">
        <h2> CLASES GRUPALES</h2>
        <div class="table-responsive">
            <table class="table">
                <th>HORARIOS</th>
                <th> LUNES</th>
                <th> MARTES</th>
                <th> MIÉRCOLES</th>
                <th> JUEVES</th>
                <th> VIERNES</th>
                <tr class="negro">
                    <td class="negrita"> 10:00</td>
                    <td> Crossfit</td>
                    <td> Glúteos</td>
                    <td> Abdomen</td>
                    <td> Yoga</td>
                    <td> Musculación</td>
                </tr>

                <tr class="rojo">
                    <td class="negrita"> 11:00</td>
                    <td> Funcional</td>
                    <td> Aeróbico</td>
                    <td> Pilates</td>
                    <td> Xcore</td>
                    <td> Streching</td>
                </tr>

                <tr class="negro">
                    <td class="negrita"> 12:00 </td>
                    <td> Cardio</td>
                    <td> Box </td>
                    <td> GAP</td>
                    <td> BodyPump</td>
                    <td> Step </td>
                </tr>

                <tr class="rojo">
                    <td class="negrita"> 16:00</td>
                    <td> Fit Combat</td>
                    <td> BodyBalance</td>
                    <td> Musculación</td>
                    <td> Crossfit</td>
                    <td> TRX</td>
                </tr>

                <tr class="negro">
                    <td class="negrita"> 17:00</td>
                    <td> Zumba </td>
                    <td> Spinning</td>
                    <td> Glúteos </td>
                    <td> CardioBox</td>
                    <td> Pilates</td>
                </tr>

                <tr class="rojo">
                    <td class="negrita">18:00</td>
                    <td> UBound</td>
                    <td> CircuitTraining</td>
                    <td> Crossfit </td>
                    <td> Abdomen</td>
                    <td> BodyAttack</td>
                </tr>

                <tr class="negro">
                    <td class="negrita"> 19:00</td>
                    <td>CardioHiit </td>
                    <td> Glúteos</td>
                    <td> Yoga</td>
                    <td> Spinning</td>
                    <td> Zumba</td>
                </tr>

                <tr class="rojo">
                    <td class="negrita"> 20:00 </td>
                    <td> Xcore</td>
                    <td> TRX</td>
                    <td> Musculación</td>
                    <td> Funcional</td>
                    <td> Aeróbico</td>
                </tr>
            </table>
        </div>
    </div>
    <p></p>
    <div class="d-grid">
        <div class="d-flex justify-content-center"> 
            <a routerLink="/registro">
                <button type="button" class="btn btn-danger">ANOTARSE AHORA</button>
            </a>
        </div>
    </div>

    
    
    <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center">
        <p></p>
    </div>
    
   


    <section class="py-5 bg-dark">
        <div class="d-grid gap-2 col-6 mx-auto">

        </div>
        <div class="container px-5 my-5">
            <div class="text-center mb-5"></div>

            <div class="row gx-5">
                <div class="col-lg-3">
                    <div class="position-relative mb-5">
                        <img class="img-fluid rounded-3 mb-3" src="./assets/clases1.jpg" alt="..." />
                        <a class="h4 fw-bolder text-white text-decoration-none link-danger stretched-link"
                            href="#!">Crossfit</a>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="position-relative mb-5">
                        <img class="img-fluid rounded-3 mb-3" src="./assets/clases2.jpg" alt="..." />
                        <a class="h4 fw-bolder text-white text-decoration-none link-danger stretched-link"
                            href="#!">Box</a>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="position-relative mb-5 mb-lg-0">
                        <img class="img-fluid rounded-3 mb-3" src="./assets/clases3.jpg" alt="..." />
                        <a class="h4 fw-bolder text-white text-decoration-none link-danger stretched-link"
                            href="#!">Pilates</a>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="position-relative">
                        <img class="img-fluid rounded-3 mb-3" src="./assets/clases4.jpg" alt="..." />
                        <a class="h4 fw-bolder text-white text-decoration-none link-danger stretched-link"
                            href="#!">Glúteos
                        </a>
                            
                            




                        
                    </div>
                </div>
            </div>
        </div>
    
</section>

